@tailwind base;
@tailwind components;
@tailwind utilities;


/* SITE COLOR SCHEME

Primary = fuschsia-950
Secondary = Pink-800
Tertiary / BG = amber-400
Accent 1 = orange-700
Accent 2 = yellow-200
 */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 218, 153;
    --background-end-rgb: 255,218, 153;
    --secondary-rgb: 181,69,115;
  }
}

body {
  display: flex;
  justify-content: center;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  main {
    @apply
    h-full
    w-4/5 
    m-2
    rounded-md
    drop-shadow-lg
    bg-pink-800
    p-2
  }
  button {
    @apply
    bg-gradient-to-br from-pink-500 to-orange-400
    hover:bg-gradient-to-bl
    rounded-lg
    px-5
    py-1
    m-1
    text-white
    border-2
    border-orange-700
    shadow-sm
    shadow-yellow-500
  }
  input {
    @apply
    p-2
    rounded-lg
    text-black
    m-1
    border-2
    border-orange-700
    shadow-sm
    shadow-yellow-500
  }
  select {
    @apply
    p-2
    text-black
    rounded-lg
    m-1
    border-2
    border-orange-700
    shadow-sm
    shadow-yellow-500
  }
}


